.ColourBoxGrid {
    width: 750px;
    height: 750px;
    border: 3px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.restartButton {
    margin-top: 20px;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 8px;
    background: #d5652b;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    color: #008e;
    border: 1px solid #008e;
    border-radius: 10px;
}

.restartButton:hover {
    background: #666;
}

.GameWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 1000px;
}

.GameContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    color: #008e;
}

.GameContainer h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    color: #008e;
}