.mainTitle {
    font-size: 50px;
    color: #051191;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}

.homeContainer {
    padding: 30px;
    margin: 0 auto 40px auto;
    max-width: none;
}

.redCode {
    margin: 20px;
    display: block;
    margin: 0 auto;
    width: 200px;
    border-radius: 10px;
    box-shadow: 0 0 15px #004a67;
    background-color: white;
}

.homePageText {
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    color: #051191;
    display: flex;
    align-items: center;
    gap: 40px;
    margin-bottom: 40px;
}


.collage {
    width: 500px;
    height: auto;
    border-radius: 10px;
    border-radius: 10px;
    box-shadow: 0 0 15px #004a67;
    background-color: white;
}


@media (max-width: 600px) {

    .mainTitle {
        font-size: 32px;
        text-align: center;
    }

    .homeContainer {
        padding: 20px;
        margin: 0;
        max-width: none;
    }

    .redCode {
        width: 150px;
        padding: 10px;
        margin: 20px auto;
    }

    .homePageText {
        flex-direction: column;
        gap: 20px;
        font-size: 22px;
        text-align: center;
    }

    .collage {
        width: 100%;
        max-width: 300px;
        height: auto;
        margin: 0 auto;
        padding: 10px;
    }
}