.randomRedContainer {
    padding: 10px;
    margin: 0 auto 40px auto;
    max-width: 1000px;
}



.randomRedTitle {
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    color: #051191;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}

.redBlockImage {
    display: block;
    margin: 0 auto;
    width: 200px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 15px #004a67;
    background-color: white;
}


.randomRedText {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    color: #051191;
    display: flex;
    align-items: center;
    gap: 40px;
    margin-bottom: 40px;
}